body {
	font-family: "Voltaire";
}

.header a {
	text-align: center;
}

.col-md-8 {
	text-align: right;
}

h1 {
	font: 75px "Voltaire";
	color: #3e3e3e;
	text-transform: uppercase;
}

h2 {
	color: #5e5e5e;
	font-size: 40px;
}

hr {
	background-color: #5e5e5e;
	height: 5px;
}

.jumbotron {
	background-color: #6cd0c6;
	background-image: url("images/butterfly.png");
	background-size: cover;
	text-align: left;
}

.innerbox {
	display: inline-block;
	width: 25%;
	background: rgba(255,255,255,.5);
	padding: 15px;
	border-radius: 5px;

}

ul {
	font-size: 20px;
}

.bottom {
	text-align: center;
}

.col-md-4 {
	margin-bottom: 20px;
}

.gallery {
	display: inline-block;
	width: 300px;
	height: 200px;
}

img {
	border-radius: 15px;
}

h3 {
	font-family: "Homemade Apple";
	color: #6cd0c6;
}

a {
	font-size: 16px;
	color: #5e5e5e;
	text-decoration: underline;
}

a:hover {
	color: #3fbdb0;
	text-decoration: none;

}

footer {
	box-sizing: border-box;
	text-align: left;
	padding: 15px 30px;
	background: #6cd0c6;
	color: white;
	font-size: 16px;
}

@media screen and (max-width: 990px) {
	.head-image {
		text-align: center;
	}

	#logo {
		height: 120px;
	}

	.col-md-8 {
		text-align: center;
	}

	h1 {
		font-size: 4em;
	}

	h2 {
		font-size: 2em;
	}

	.innerbox {
		width: 80%;
	}
}

@-ms-viewport{
  width: device-width;
}